<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/main.js" defer></script>
    <script>
      const hue = localStorage.getItem("hue");
      if (hue) {
        document.documentElement.style.setProperty("--hue", hue);
        window.addEventListener("DOMContentLoaded", e => {
          const colSel = document
            .querySelector("#color-select input")
            .setAttribute("value", hue);
        });
      }
    </script>
  </head>
  <body>
    <div class="padding-wrapper">
      <header id="site-header">
        <div class="logo">
          <a href="/">FUNSTRA</a>
        </div>
        <div id="site-nav">
          <button
            onclick="
                    document.documentElement.dataset.navState = 'open'
                    "
          >
            <span>menu</span>
            <!-- <span class="vertical-dots">...</span> -->
            <svg
              width="100%"
              height="2ex"
              viewBox="0 0 12 20"
              preserveAspectRatio="xMidYMid"
            >
              <g fill="currentColor">
                <circle cx="6" cy="4" r="2" />
                <circle cx="6" cy="10" r="2" />
                <circle cx="6" cy="16" r="2" />
              </g>
            </svg>
          </button>
          <nav>
            <div id="color-select">
              <input
                type="range"
                min="0"
                max="360"
                value="165"
                oninput="setColor(event)"
              />
            </div>
            <header>
              <button
                onclick="
                      document.documentElement.dataset.navState = ''
                      "
              >
                <span>close</span>
              </button>
              <h3>Site Navigation</h3>
            </header>
            <ul>
              <li>
                <a href="/">home</a>
              </li>
              <li>
                <a href="/writings/">writings</a>
              </li>
              <li>
                <a href="">works</a>
              </li>
              <li>
                <a href="/about/">about</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <div id="scroll-area">
        <main style="{% if onepage %}height:100%{% endif %}">
          {{ content | safe }}
        </main>
        <footer>
          <p>footer stuff and such</p>
          <b>marcus aldrin</b>
        </footer>
      </div>
    </div>
    <div id="click-outside"></div>

    {% include "partials/bg-noise.njk" %}
  </body>
</html>
