---
layout: layouts/base
titel: about
tags: nav
---

<div class="flow prose">
  <header style="margin-bottom: var(--fluid-4)">
    <h1 style="margin-bottom: var(--fluid-0)">me</h1>
    <p>
      designing <span>context</span> && Lorem ipsum, dolor sit amet consectetur
      adipisicing elit. Expedita a dolorum similique, omnis libero odio?
    </p>
  </header>
  <div style="overflow: hidden">
    <aside
      style="
        width: calc(var(--fluid-5) * 4);
        height: calc(var(--fluid-5) * 4);
        float: inline-start;
        margin-inline-end: 0.5em;
        margin-block: 0;
        overflow: hidden;
      "
    >
      <figure style="height: 100%; display: flex; flex-direction: column">
        <div class="media-wrapper" style="overflow:hidden">
          <img
            src="/assets/mecrop2.webp"
            style="width: 100%; height: 100%;"
            alt=""/>
        </div>
        <figcaption>this is me 2022</figcaption>
      </figure>
    </aside>
    <p>
      Facilis amet velit vero excepturi suscipit mollitia odio sequi nemo
      ducimus ab nulla fugiat ratione magni reprehenderit maiores ipsam omnis
      quisquam, dignissimos hic pariatur. Eum accusamus dolorem eaque omnis
      delectus tempore quis placeat, quasi nam sapiente consectetur porro saepe
      maiores molestiae repellendus sequi sunt voluptatum totam. Assumenda
      impedit totam ab.
    </p>
  </div>
  <h2 style="clear: left">A sub heading</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, nam.</li>
    <li>
      Similique minus qui distinctio accusamus, natus dolores quaerat facere
      repudiandae.
    </li>
    <li>
      Culpa cumque consequatur beatae mollitia ad explicabo natus excepturi ab.
    </li>
  </ul>
</div>