---
layout: layouts/base
permalink: /
titel: founstra
onepage: true
tags: nav
---
<svg width="100%" height="100%" viewBox="0 0 1024 1024" preservAspectRatio="xMidYMid">
    <style>
    .balls circle{
        animation-name: back-forth;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(0.75,0.125,0.25,1.25);
    }
    @keyframes back-forth {
        0%{
            transform: translate(0,calc(-256px * (1 - var(--factor)))) scale(0.75);
            filter: blur(8px);
        }
        50%{
            transform: translate(0,calc(32px * var(--factor))) scale(calc(1 + var(--factor) / 2));
            filter: blur(calc((0.85 - var(--factor)) * 6px));
        }
        100%{
            transform: translate(0,calc(-256px * (1 - var(--factor)))) scale(0.75);
            filter: blur(8px);
        }
    }
    </style>
    <defs>
        <linearGradient id="gradient-mist" gradientTransform="rotate(90)">
            <stop offset="10%"  stop-color="hsl(var(--col-r) var(--col-weight-500))"></stop>
            <stop offset="30%"  stop-color="hsl(var(--col-r) var(--col-weight-500) / 0.25)"></stop>
            <stop offset="50%"  stop-color="hsl(var(--col-r) var(--col-weight-500) / 0)"></stop>
            <stop offset="70%" stop-color="hsl(var(--col-r) var(--col-weight-500) / 0.25)"></stop>
            <stop offset="90%" stop-color="hsl(var(--col-r) var(--col-weight-500))"></stop>
        </linearGradient>
        <linearGradient id="gradient-mist-mask" gradientTransform="rotate(90)" >
            <stop offset="10%" stop-color="#000"></stop>
            <stop offset="50%" stop-color="#fff"></stop>
            <stop offset="90%" stop-color="#000"></stop>
        </linearGradient>
        <mask id="mask-mist">
            <rect  x="0" y="-32" width="1024" height="1088" fill="url(#gradient-mist-mask)"/>
        </mask>
    </defs>
    {% set colArray = ['var(--col-r-500)', 'hsl(var(--col-r) var(--col-weight-300))'] %}
    {% set n = 8%}
    <g mask="url(#mask-mist)">
        <g class="balls" >
            {% set rWeight = 0.95%}
            {% set maxR = 64 %}
            {% set minR = (1-rWeight) * maxR%}
            {% for i in range(0, n) %}
                {% set factor = (i / n) %}
                {% set color = colArray[loop.index0 % 2]%}
                16
                {% set pos = {
                    x: 512,
                    y: i * ((256+minR) / ((n))) - minR + 512
                } %}
                <circle style="--factor:{{factor}}" cx="{{pos.x}}" cy="{{pos.y}}" r="{{64}}" fill="{{color}}"  transform-origin="{{pos.x}} {{pos.y}}"/>
            {% endfor %}
        </g>
    </g>
    <path stroke="red" fill="hsl(var(--col-r-1) var(--col-weight-500) / 0.75)" stroke-width="16" stroke-linecap="round" stroke-linejoin="round" d="
    M32,576
    l288,64
    a1,1 0 0 1 384,0
    L992,575
    A1,1 0 0 0 32,575
    "></svg>