---
layout: layouts/base
titel: works
tags: nav
---

<div class="flow">
  <h3
    style="
      margin-bottom: 2em;
      margin-inline-start: 1em;
      line-height: 1.5ex;
      letter-spacing: -0.15ch;
      word-spacing: 1ch;
    "
  >
    <span
      style="
        transform: translateY(-0.125ex) scale(1, 1.25);
        display: inline-block;
        font-weight: 100;
      "
      >Things</span
    >
    <br style="margin-bottom: 0.5ex"/>
    don<span style="transform: rotate(-10deg); display: inline-block">e</span>
    <br style="margin-bottom: 0.2ex"/>
    <span
      style="
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        margin-left: -1ch;
      "
      >and</span
    >
    <br/>
    <br style="margin-bottom: 2em"/>
    &nbsp;
    <span
      style="
        word-spacing: -0.25ch;
        text-decoration-style: wavy;
        text-decoration-line: underline overline;
        text-underline-offset: 0.5ex;
        background-color: hsl(var(--col-r-1) var(--col-weight-400));
        white-space: nowrap;
      "
      >of suchness</span
    >
  </h3>
  <div class="grid">
    <figure>
      <video autoplay loop alt="">
        <source src="/assets/boxo.webm"/>
        <source src="/assets/boxo-h264.mov"/>
      </video>
      <figcaption>
        subdevision visons @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <img src="/assets/blend.jpg" alt=""/>
      <figcaption>
        directionality @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <video autoplay loop alt="">
        <source src="/assets/skugg.webm"/>
        <source src="/assets/skugg-h264.mov"/>
      </video>
      <figcaption>
        unclear skugg @
        <span>
          <a target="_blank" href="https://opencv.org/">opencv</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <img src="/assets/mapping.jpg" alt=""/>
      <figcaption>
        mappings of quad points @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <video autoplay loop alt="">
        <source src="/assets/two-way.webm"/>
        <source src="/assets/two-way.mov"/>
      </video>
      <figcaption>
        values in time @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <img src="/assets/displaced.jpg" alt=""/>
      <figcaption>
        displaced pathways @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
    <figure>
      <video autoplay loop alt="">
        <source src="/assets/value.webm"/>
        <source src="/assets/value-264.mov"/>
      </video>
      <figcaption>
        values in time @
        <span>
          <a href="https://derivative.ca/">touchdesigner</a>
        </span>
      </figcaption>
    </figure>
  </div>
</div>