---
layout: layouts/base
titel: works
tags: nav
---

<div style="max-width: 75%; width: 100%; margin: 0 auto;">
  <h2
    style="
      line-height: 1.5ex;
      font-size: 3em;
      letter-spacing: -0.15ch;
      word-spacing: 1ch;
    "
  >
    <span style="transform: translateY(-0.125ex) scale(1,1.25); display: inline-block;font-weight: 100;">Things</span>
    <br style="margin-bottom: 0.5ex" />
    don<span style="transform: rotate(-10deg); display: inline-block;">e</span>
    <br style="margin-bottom: 0.2ex;">
    <span
      style="
        font-family: 'Courier New', Courier, monospace;
        font-weight: 100;
        margin-left: -1ch;
      "
      >and</span
    >
    <br />
    <br />
    &nbsp;
    <span
      style="
        word-spacing: -0.25ch;
        text-decoration-style: wavy;
        text-decoration-line: underline overline;
        text-underline-offset: 0.5ex;
        background-color: hsl(var(--col-r-1) var(--col-weight-400));
      "
      >of suchness</span
    >
  </h2>
</div>
