---
layout: layouts/base
titel: writings
onepage: true
---

<svg
  width="100%"
  height="100%"
  viewBox="0 0 1000 866"
  preservAspectRatio="xMidYMid"
>
  <defs>
    <radialGradient
      id="shade"
      gradientTransform="translate(-0.3 -0.3) scale(1.2)"
    >
      <stop
        offset="10%"
        stop-color="hsl(var(--col-r) var(--col-weight-500) / 0.35)"
      />
      <stop
        offset="100%"
        stop-color="hsl(var(--col-r) var(--col-weight-300) / 0.9)"
      />
    </radialGradient>
  </defs>
  <style>
    polygon {
      vector-effect: non-scaling-stroke;
    }
    .triangel-part {
      animation-name: wave;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      <!-- animation-direction: alternate; -->
    }
    .shadow {
      filter: drop-shadow(0 0 0.5em hsl(var(--col-r) var(--col-weight-300)))
        brightness(1) blur(0.125em);
    }
    circle {
      animation-name: pulse;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      fill: url("#shade");
    }
    @keyframes pulse {
      from {
        filter: blur(0.35em);
        transform: scale(1);
        stroke: hsl(var(--white) / 0.25);
      }
      to {
        filter: blur(0.1em);
        transform: scale(2);
        stroke: hsl(var(--white) / 0.5);
      }
    }
    @keyframes wave {
      0% {
        transform: rotate(0deg) scale(1);
      }
      25% {
        transform: rotate(30deg) scale(1.125);
      }
      30% {
        transform: rotate(20deg) scale(1.125);
      }
      75% {
        transform: rotate(60deg) scale(1.125);
      }
      100% {
        transform: rotate(0deg) scale(1);
      }
    }
  </style>
  {% set h = 577.3%} {% set n = 4%}
  <g
    transform="scale(0.65) translate(250 50)"
    fill="transparent"
    stroke-linecap="round"
    stroke-linejoin="round"
  >
    {% for i in range(0, n) %} {% set factor = (1 - i / n)%}
    <polygon
      class="triangel-part"
      points="0,866 1000,866 500,0"
      transform-origin="center 577.3"
      transform="scale({{ factor }})"
      stroke-width="{{ factor * 16 + 0.25 }}"
      stroke="hsl( var(--col-r) var(--col-weight-300) / {{ factor }} )"
      style="animation-duration: {{ 10000 + i * 4000 }}ms;animation-delay: {{
        i * 30
      }}ms;"
    ></polygon>
    {% endfor %} {% set r = 100 %}
    <a href="/about/">
      <circle
        class="shadow"
        stroke="hsl(var(--white) / 0.25)"
        stroke-width="12"
        fill="hsl( var(--col-r) var(--col-weight-300) / 0.25  )"
        cx="500"
        cy="{{ h }}"
        r="{{ r }}"
        transform-origin="500 {{ h }}"
      />
    </a>
  </g>
</svg>
