---
layout: layouts/base
onepage: true
---

<svg
  width="100%"
  height="100%"
  viewBox="0 0 1000 866"
  preservAspectRatio="xMidYMid"
>
  <defs>
    <radialGradient id="shade" gradientTransform="translate(-0.3 -0.3) scale(1.2)">
      <stop
        offset="10%"
        stop-color="hsl(var(--col-r) var(--col-weight-500) / 0.35)"
      />
      <stop offset="100%" stop-color="hsl(var(--col-r) var(--col-weight-300) / 0.9)" />
    </radialGradient>
  </defs>
  <style>
    polygon {
      vector-effect: non-scaling-stroke;
    }
    .triangel-part {
      animation-name: wave;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    .shadow {
      filter: drop-shadow(0 0 0.5em hsl(var(--col-r) var(--col-weight-300)))
        brightness(1) blur(0.125em);
    }
    circle {
      animation-name: pulse;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
      fill: url(#shade);
    }
    @keyframes pulse {
      from {
        filter: blur(0.35em);
        transform: scale(1);
      }
      to {
        filter: blur(0.15em);
        transform: scale(1.1);
      }
    }
    @keyframes wave {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
  </style>
  {% set h = 577.3%} {% set n = 8%}
  <g
    transform="scale(0.65) translate(250 0)"
    stroke="black"
    stroke-width="4"
    fill="transparent"
  >
    {% for i in range(0, n) %} {% set factor = (1 - i / n)%}
    <polygon
      class="triangel-part"
      points="0,866 1000,866 500,0"
      transform-origin="center 577.3"
      transform="scale({{ factor }})"
      stroke-width="{{ factor * 10 + 0.25 }}"
      stroke="hsl( var(--col-r) var(--col-weight-300) / {{ factor }} )"
      style="animation-duration: {{ 5000 + i * 3000 }}ms;animation-delay: {{
        i * 30
      }}ms;"
    ></polygon>
    {% endfor %} {% set r = 100 %}
    <a href="/about/">
      <circle
        class="shadow"
        stroke="hsl(var(--white) / 0.25)"
        stroke-width="12"
        fill="hsl( var(--col-r) var(--col-weight-300) / 0.25  )"
        cx="500"
        cy="{{ h }}"
        r="{{ r }}"
        transform-origin="500 {{ h }}"
      />
    </a>
  </g>
</svg>
